* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  height: 100%;
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;

}

section .page1 {
  width: 100%;
   
}


.planets{
  width: 100%;
  position: absolute;
  top: 14rem;
  max-width: 1500px;
}

nav {
  padding: 2rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;

}

nav img {
  width: 2.8rem;
}

nav h2 {
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8rem;
}

nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 9rem;
  gap: 1.5rem;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.links i {
  padding-left: 0.1rem;
}

.btns {
  display: flex;
  gap: 1rem;
}

.btns i {
  padding-right: 0.2rem;
}

.btn-1 {
  background-color: transparent;
  color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.7rem;
  font-size: 1rem;
}

.btn-2 {
  background-color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.7rem;
  font-size: 1rem;
}

.hero {
  margin-top: 5rem;
  margin-bottom: 30rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}

.hero h1 {

  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero p {

  text-align: center;
  font-size: 1.9rem;
}

.hero img {

  
  width: 8rem;

}
.btn-3 {
  background-color: white;
  padding: 1.3rem 1.5rem;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
}





@media (max-width: 900px) {
 
  nav .links {
    display: none;
  }

  .btns {
    display: none;
  }

  nav {
    padding: 1.5rem 1.7rem;
  }
  .page1 .planets{
    top: 54rem;
  }
}
@media (min-width: 900px){
 
  main .page1{
    color: black;
  width: 100%;
  background-image: url(./images/download.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  }
  
}