* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #f5f5f5;
}

main {
  width: 100%;
  height: 100%;

}


nav {
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100
}

nav img {
  width: 8.2rem;
}

nav i {
  font-size: 1.4rem;
  font-weight: bold;
}

.view1 {

  padding: 6.5rem 2rem;
  width: 100%;
  background: linear-gradient(35deg, #fbd9e5, #f3fcff 60%);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 3rem;
}

.view1 .top {

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top img {
  width: 100%;
}

.top h2 {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bottom {
  width: 100%;
}

.bottom h2 {
  text-align: center;
  font-size: 2.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;

}

.view2 {
  
  background-color: white;
  padding: 5rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.card .top{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img{
  width: 23rem;
  
}

hr {
  height: 0.1rem;
  background-color: rgb(118, 116, 116);
}

.view2 .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;
}

.view2 .top h2 {
  
  font-size: 1.5rem;
  font-weight: 500;
}

.view2 .top p {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(96, 95, 95);
}

.view2 .bottom {
  width: 100%;
}

.view2 .bottom img {
  width: 90%;
}
.view3{
  background-color: white;
  width: 100%;
  padding: 2.5rem 3rem;
  
}
.view3 .card{
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media(min-width: 1024px) {
  .view1 {
    padding: 9rem 2.5rem;
    padding-bottom: 3rem;
  }

   .view1 .top {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
  }

  .top img {
    width: 50%;
  }

  .view1 .top h2 {
    text-align: left;
    width: 30%;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.4rem;
  }

  .bottom h2 {
    padding: 0rem 6rem;
    font-size: 2.2rem;
  }

  .view2 {
    flex-direction: row;
    padding: 2rem 11rem;
  }
  hr{
    width: 18rem;
    height: 0.2rem;
    color: rgba(185, 185, 185, 0.974);
  }

  .view2 .card{
    padding-right: 6rem;
    padding-top: 3rem ;
  }
  
  .view2 .top h2 {
    align-items: flex-start;
    text-align: left;
    font-size: 2rem;
    
  }
  .view2 .top p{
    font-size: 1.2rem;
    margin-bottom: 3.4rem;
  }
  .view2 .bottom img{
    width: 17rem;
  }
}