@font-face {
  font-family: apple;
  src: url(./sf-pro-text_regular.woff2);
}*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
 
}
#nav{
  width: 100%;
  /* position: fixed; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
  background-color: rgb(21, 21, 21);
  color: white;
  font-family: apple;
}
#nav h4{
  font-weight: 100;
  font-size: 12px;
}
i{
  font-weight: 400;
}
#center{
  height: 80%;
  width: 100%;
  background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large_2x.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 30px;
  color: white;
  font-family: apple;
}
#center h1{
 padding: 3px;
 font-size: 50px;
 font-weight: 900;
}
#center p{
  padding: 9px;
  font-size: 26px;
  font-weight: 700;
}
.lm{
  padding: 12px 25px;
  border-radius: 30px;
  color: white;
  background-color:#0077ED;
  font-size: 17px;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.by{
  color: #0077ED;
  background-color: transparent;
  padding: 12px 22px;
  border: 1px solid #0077ED;
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
}
.by:hover{
  transition: 0.2s;
  background-color: #0077ED;
  color: white;
  border-color: white;
  border: none;
}
#page2{
  padding: 40px;
  margin: 10px;
  height: 80%;
  width: 100%;
  text-align: center;
  background-image:url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium_2x.jpg) ;
  background-size: cover;
  background-position: center;
  font-family: apple;
}
.name{
  padding: 3px;
 font-size: 50px;
 font-weight: 900;
}
.phone{
  margin: 5px;
  font-size: 22px;
  font-weight: 100; 
}

#page3{
  
  margin: 10px;
  height: 70%;
  width: 100%;
  text-align: center;
  background-image:url(https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_mediumtall_2x.jpg) ;
  background-size: cover;
  background-position: center;
  font-family: apple;
}

.name{
  padding: 3px;
 font-size: 50px;
 font-weight: 900;
}
.phone1{
  margin: 5px;
  font-size: 22px;
  font-weight: 300; 
}
